@model htsApp.Models.HTSData

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3 class="text-danger">Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.NameofSite)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.NameofSite)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.OutreachName)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.OutreachName)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.District)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Month)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.OutreachOrganizer)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.OutreachOrganizer)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Ownership)
        </dt>
        
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Ownership)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.DateData)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.DateData)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.ClientCode)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.ClientCode)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.TypeofAttendance)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.TypeofAttendance)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.ResidenceShehia)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.ResidenceShehia)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.ResidenceDistrict)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.ResidenceDistrict)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Occupation)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.ClientsCategory)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.ClientsCategory)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Disabled)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Disabled)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.HTCApproach)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.HTCApproach)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.TypeofCounselling)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.TypeofCounselling)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Reasonfortesting)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Reasonfortesting)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Result)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.DiscordantCouple)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.DiscordantCouple)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.ResultPositiveType)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.ResultPositiveType)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Receivedresult)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Receivedresult)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Noofmalecondomsissued)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Noofmalecondomsissued)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Nooffemalecondomsissued)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Nooffemalecondomsissued)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Referredto)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Referredto)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.CTCNumber)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.CTCNumber)
        </dd>
       
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
